<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
  <title>Aplikacja Sinatra</title>
</head>
<body>
<h1>Aplikacja Sinatra</h1>
<form action="http://localhost:4567/">
  <input name="name">
  <input name="surname">
  <input type="submit">
</form>
<%= yield %>
</body>
</html>

