<form action="http://localhost:4567/teacher/insert/grade" method="POST" enctype="multipart/form-data">
  Student
  <select>
    <option value="student a">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>

  <br/>

  Grade
  <input type="number">

  <br/>

  Type
  <select>
    <option value="normal">Normal</option>
    <option value="exam">Exam</option>
    <option value="final">Final</option>
  </select>

  <br/>


  <input type="submit" value="Insert grade">
</form>
