<h2>Please log in</h2>
<form action="http://localhost:4567/" method="POST" enctype="multipart/form-data">
  <input name="name"><br/>
  <input name="surname"><br/>
  <input type="password" name="password"><br/>
  <input type="submit" value="Login">
</form>
